/* Logo */

.portfolio__head{
  height: 15vh;
  width: 100vw;
  z-index: 40;
  position: fixed;
  top: 0;
  left: 0;
}

.portfolio__head-content{
  height: 15vh;
  width: 100vw;
  position: relative;
}

.portfolio__head p{
  color: white;
  font-size: 2em;
  text-decoration: none;
}

.portfolio__head__logo{
  display: none;
}

.portfolio__head__about.visible, .portfolio__head__project.visible{
  opacity: 1;
}

.portfolio__head__about{
  position: absolute;
  top: 5vh;
  right: 50vw;
  transform: translateX(50%);
  opacity: 0;
  transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
}

.portfolio__head__project{
  position: absolute;
  top: 5vh;
  right: 50vw;
  transform: translateX(50%);
  opacity: 0;
  transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
}

@media screen and (min-width: 720px){
  .portfolio__head__logo{
    display: block;
    position: absolute;
    top: 5vh;
    left: 5vw;
  }
  .portfolio__head__about{
    position: absolute;
    top: 5vh;
    right: 5vw;
    transform: translateX(-10%);
    cursor: pointer;
  }
  .portfolio__head__project{
    position: absolute;
    top: 5vh;
    right: 5vw;
    opacity: 0;
    transform: translateX(-10%);
    cursor: pointer;
  }
}

/* Partie link */

.portfolio__link{
  position: fixed;
  bottom: 4vh;
  left: 50%;
  transform: translateX(-50%);
}

.portfolio__link-list li{
  text-align: center;
  margin: 1vh 0;
}

.portfolio__link-list li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

@media screen and (min-width: 720px){
  .portfolio__link-list li{
    text-align: left;
    display: inline-block;
    margin: 0 1vw;
  }
}
